
config ARM_SMMU_v3
	bool "ARM SMMUv3 Support"
	depends on ARM_64
	help
	 Support for implementations of the ARM System MMU architecture
	 version 3.

config ARM_SMMU
	bool "ARM Legacy SMMU Support"
	depends on ARM
	help
	 Support for implementations of the ARM System MMU architecture
	 version 1 and 2.
